* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10%;
}

h2{
  text-align: center;
  margin-bottom: 1rem;
}
h2, p {
  font-family: 'Inter', sans-serif;
}

div {
  margin: 5% 0%;
}

div .monedas {
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 4%;
}

div .monedas img {
  max-width: 15%;
  height: auto;
}

footer {
  text-align: center;
}

footer img {
  max-width: 15%;
}

div .botones {
  display: flex;
  margin: 5%;
  justify-content: center;
  gap: 10px;
}

.volver, .siguiente {
  width: 50%;
  padding: 7px;
  border-radius: 5px;
}

.volver {
  border: 1px solid rgb(216, 114, 114);
  background-color: transparent;
  color: rgb(216, 114, 114);
}

.siguiente {
  background-color: rgb(216, 114, 114);
  border: none;
  color: white;
}

div.mano {
  border: 1px solid rgba(169, 169, 169, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.mano img {
  align-self: center;
  max-width: 30%;
}

.opcion{
  border: 1px solid rgba(169, 169, 169, 0.5);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

